* {
    box-sizing: border-box;
}

@font-face {
    font-family: "DMSans Regular";
    src: url("../fonts/DM_Sans/static/DMSans-Regular.ttf");
}

@font-face {
    font-family: "DMSans Bold";
    src: url("../fonts/DM_Sans/static/DMSans-Bold.ttf");
}


body {
    font-family: "DMSans Regular", "DMSans Bold";
    background-color: #FBF3E8;
    margin: 0;
    color: #000000;
}

header {
    background-color: #FFFFFF;
}

.logo {
    max-width: 10%;
    object-fit: cover;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.line {
    max-width: 100%;
    border: 1px solid #799E29;
}

.topnav {
    display: flex;
    gap:80%;
    align-items: center;
}

.btn {
    border-radius: 1rem;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 1%;
}

.don {
    background: #2a6936;
    background: linear-gradient(90deg, rgba(42, 105, 54, 1) 0%, rgba(78, 163, 57, 1) 50%, rgba(152, 214, 64, 1) 100%);
}

.bottomnav {
    display: flex;
    gap: 5%;
    padding-left: 1%;
}

.bottomnav a {
    color: #42435F;
    font-family: "DMSans Bold";
}

.agir {
    display: flex;
    padding: 5% 0;
    gap: 3%;
}

img {
    max-width: 100%;
}

.agissons {
    width: 50%;
}

.hand {
    width: 40%;
    border-top-left-radius: 1.5rem;
    box-shadow: 15px 15px 0px 0px #054D3B;
}

.agissons h1 {
    font-family: "DMSans Bold";
    font-size: 4rem;
    margin: 0;
}

.agissons h2, p {
    font-size: 1rem;
}

.moreabout {
    background-color: #01533A;
    font-family: "DMSans Bold";
    font-size: 1rem;
    padding: 3%;
}


.nosprojets h2 {
    font-family: "DMSans Bold";
    font-size: 2rem;
}

.projets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0;
    margin-bottom: 5%;
}

.reforestation, .nettoyage, .energy, .protection, .education, .dechets {
    background-color: white;
    padding: 6%;
}

.reforestation h2, .nettoyage h2, .energy h2, .protection h2, .education h2, .dechets h2 {
    border-bottom: 1px solid #799E29;
    padding-bottom: 5%;
    font-family: "DMSans Bold";
    font-size: 1rem;
}

.ourmission {
    background-image: url("../img/img/farmer-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 10% 0;
}

.ouraction li {
    list-style-type: circle;
}

.ouraction li::marker {
    color: #003b14;
}

.notremission h2, .notremission p {
    padding-right: 5%;
}

.mission {
    display: flex;
    background-color: white;
    padding: 4%;
    border-radius: 1rem;
}

.serre {
    width: 35%;
    object-fit: contain;
}

.ouraction {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 5%;
    row-gap: 10%;
    font-family: "DMSans Regular";
    font-size: 1rem;
}

.ourmission .moreabout {
    padding: 2%;
}

.card {
    background-color: white;
    border: 1px solid yellowgreen;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.card > * {
    margin: 0;
}

.card-img {
    height: 40%;
    max-height: 200px;
}

.card-img .img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.tag {
    background-color: #fbf3e86e;
    border: 1px solid white;
    color: black;
    border-radius: 1rem;
    padding: 2%;
}

.article {
    text-decoration: underline;
    color: orange;
    font-family: "DMSans Regular";
    font-size: 1.5rem;
    display: inline-block;
}

.fontedesglaces {
    display: flex;
    gap: 2%;
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
}

.iceberg {
    width: 50%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 1rem;
}
.actu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2%;
    padding: 0;
}

.bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4% 0;
}

.bouton .btn {
    padding: 1%;
}

.galerie {
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    padding: 0;
}

.galerie .img {
    max-height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
}

.images {
    margin-bottom: 5%;
}

.g1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.g3 {
    grid-row: 1/3;
    grid-column: 3/4;
}

.g5 {
    grid-column: 1/3;
}

.ytb h2 {
    text-align: end;
}

.ytbvideo {
    display: flex;
    gap: 4%;
}

.ytbvideo iframe {
    border-radius: 1rem;
    height: 250px;
}

.ytb .btn {
    background-color: #EE732B;
    width: 20%;
}

.dons {
    background-color: #799E29;
    padding: 2% 0;
}

.give {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textgive {
    display: flex;
    flex-direction: column;
    color: white;
}

.textgive p {
    margin-top: 0;
}

.donnow .btn {
    background-color: white;
    color: #054D3B;
    width: 300px;
    padding: 5%;
    
}

.support {
    padding: 5%;
}

.support-logo {
    display: flex;
    gap: 5%;
}

.support-logo img {
    width: 20%;
}

footer {
    background-color: #054D3B;
}

.foot {
    display: flex;
    gap: 10%;
    padding-top: 5%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0;
}

.foot h2 {
    text-decoration: underline;
}

.foot h2, .foot a, .foot p {
    color: white;
}

.link, .mention {
    display: flex;
    flex-direction: column;
}

.link a, .mention a {
    margin-bottom: 8%;
}

.greenearth {
    color: white;
    padding-bottom: 2%;
}

.greenearth p {
    margin: 0;
}

.apropos {
    width: 20%;
}

/* PAGE NUMERO 2 CONTACT */

.contacts {
    padding: 5%;
}

.contact {
    background: linear-gradient(to left, rgba(42, 105, 54, 1) 0%, rgba(78, 163, 57, 1) 50%, rgba(152, 214, 64, 1) 100%);
    padding: 5%;
}

.contact h1 {
    text-align: center;
    color: white;
    font-size: 4rem;
}

.entrerencontact {
    display:flex;
    gap: 5%;
}

.email, .phone, .adresse {
    display: flex;
    gap: 1%;
}

.gras {
    font-weight: bolder;
}

.infoform {
    background-color: white;
    width: 50%;
    border-radius: 1rem;
    height: 450px;
    margin-top: 10%;
}

.contact-text > * {
    margin: 2%;
}


.formulaire {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2%;
}

.input {
    background-color: #F9F9F9;
    padding: 2%;
    border: 1px solid #F9F9F9;
}

.formulaire .btn {
    background-color: #054D3B;
    text-align: start;
    padding: 2%;
    font-size: 1.5rem;
}

#agir {
    background-color: #054D3B;
    border-bottom: 1px solid white;
    padding: 5% 0;
    text-align: center;
}

#agir h2, #agir p {
    color: white;
}

#agir h2 {
    font-size: 2.5rem;
}

#agir p {
    font-size: 1rem;
}

.agir-btn .don {
    background-color: linear-gradient(to left, rgba(42, 105, 54, 1) 0%, rgba(78, 163, 57, 1) 50%, rgba(152, 214, 64, 1) 100%);
    color: white;
    border-radius: 1rem;
    padding: 1%;
}

.agir-btn .btn {
    background-color: #EE732B;
}


